<form asp-action ="Index">
     <p>
        <Label> Hệ số A :</Label>
        <input type ="text" name ="heSoA">
     </p>
     <p>
         <Label> Hệ số B :</Label>
        <input type ="text" name ="heSoB">
     </p>
    <p>
        <input type ="submit" value ="GPT"
    </p>
</form>
<h2>@ViewBag.mess</h2>