<form asp-action="VietHoaCacKyTuDauTien">
    <label>Nhập chuỗi: </label>
    <input type="text" name="strInput">
    <input type="submit" value="Viết Hoa Các Ký Tự Đầu Tiên">
</form>
<h2>@ViewBag.thongBao</h2>