<form asp-action="VietHoaKyTuDauTien">
    <label>Nhập chuỗi: </label>
    <input type="text" name="strInput">
    <input type="submit" value="Viết Hoa Ký Tự Đầu Tiên" >
</form>
<h2>@ViewBag.thongBao</h2>